---
version: "3.8"

services:
  database:
    container_name: database
    environment:
      POSTGRES_USER: default
      POSTGRES_PASSWORD: default
      POSTGRES_DB: default
    hostname: database
    image: postgres:12
    restart: always
    volumes:
      - /pgdata

  backend:
    container_name: service-api
    image: service-api:latest
    entrypoint:
      - "sh"
      - "-c"
      - "mvn spring-boot:run"
    environment:
      NODE_ENV: development
      POSTGRESQL_HOST: database
      POSTGRESQL_USER: default
      POSTGRESQL_PASSWORD: default
      POSTGRESQL_DATABASE: default
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8090/check"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    hostname: service-api
    links:
      - database
    ports:
      - "8090:8090"
    build:
      context: .
      dockerfile: Dockerfile
